/* 共通スタイル */
.commonPopup, .enemyAttackPopup {
  position: fixed;
  color: white;
  background-color: 212121;
  padding: 10px;
  z-index: 1000;
}

.commonPopup {
  border: 4px solid white;
}

.enemyAttackPopup {
  border: 4px solid red;
}

/* 戦闘ポップアップ */
.battlePopup, .commandPopup, .enemyPopup, .enemyAttackImagePopup {
  position: fixed;
  padding: 10px;
}

.battlePopup {
  text-align: left;
  border-radius: 16px;
  bottom: 13%;
  font-size: 16px;
  left: 7%;
  height: 27%;
  width: 15%;
  z-index: 1100; /* 他のポップアップより前に表示 */
  
}

.commandPopup {
  bottom: 3%;
  left: 20%;
  height: 37%;
  width: 60%;
  border-radius: 16px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  z-index: 10000;
}

.enemyPopup, .enemyAttackImagePopup {
  top: 15%;
  left: 10%;
  width: 80%;
  height: 40%;
  font-size: 64px;
  border-radius: 16px;
  text-align: left;
  background-image: url("/images/fields/bg2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  border-radius: 30px; /* 角丸 */
  border: 6px solid white; /* 白い枠を6pxに設定 */
  z-index: 4000; /* 他のポップアップより前に表示 */
}


.enemyAttackImagePopup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.enemyImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden; /* オーバーレイが外に出ないようにする */
  z-index: 1300; /* 回転エフェクトは他のポップアップより下に表示される */
}
.enemyImage {
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 16px; /* 敵画像の角丸 */
  border: 4px solid white; /* 白い枠 */
}

.enemyImageRedOverlay {
  filter: brightness(0.6) sepia(1) hue-rotate(-50deg) saturate(5); /* 赤みを強調するフィルター */
}


/* バトルコマンド */
.battleCommand {
  left: 3%;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  text-align: left;
  border-radius: 7px;
  color: white;
}

.battleCommand:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}



/* 敵画像 */
.enemyImage {
  border-radius: 16px;
  border: 4px solid white;
  /* 
  @media (max-width: 768px) {
  }
  レスポンシブ対応 
  */
}

/* クイズポップアップ */
.quizPopup {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.quizOptions {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  width: 100%;
  gap: 5px;
}

.quizOptions button {
  color: white;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
  z-index: 10000;
}

.quizOptions button:hover {
  background-color: #666;
}

.enemyImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Set the width to control the size of the circular area */
  height: 300px;
  margin: auto;
  border-radius: 5px;
}

.circularContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden; /* Ensures that content outside the circle is hidden */
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemyImage {
  width: 70%; /* Adjust this to fit inside the spinning circle */
  height: 70%; /* Adjust this to fit inside the spinning circle */
  position: absolute;
  z-index: 1; /* Ensure it stays above the spinning image */
}

.spinningImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
  z-index: 10000; /* 回転イメージが全ての要素より上に表示される */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.commonEffect {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 70%;
  z-index: 3000; /* ポップアップより前に表示されるエフェクト */
}

/* battlePopup.module.css */
.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25); /* 画面を暗くする色 */
  z-index: 7000; /* ポップアップや画面の他の要素より前に表示 */
}


