/* 共通スタイル */
.commonPopup, .enemyAttackPopup {
  position: fixed;
  color: white;
  background-color: black;
  padding: 10px;
  z-index: 1000;
}

.commonPopup {
  border: 4px solid white;
}

.enemyAttackPopup {
  border: 4px solid red;
}

/* 戦闘ポップアップ */
.battlePopup, .commandPopup, .enemyPopup, .enemyAttackImagePopup {
  position: fixed;
  padding: 10px;
}

.battlePopup {
  text-align: center;
  border-radius: 16px;
  bottom: 13%;
  font-size: 16px;
  left: 7%;
  height: 27%;
  width: 15%;
  z-index: 100000;
}

.commandPopup {
  bottom: 3%;
  left: 20%;
  height: 37%;
  width: 60%;
  border-radius: 16px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
}

.enemyPopup, .enemyAttackImagePopup {
  top: 15%;
  left: 10%;
  width: 80%;
  height: 40%;
  font-size: 64px;
  border-radius: 16px;
  text-align: left;
  background-image: url("/images/fields/bg2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  border-radius: 30px; /* 角丸 */
  border: 6px solid white; /* 白い枠を6pxに設定 */
}


.enemyAttackImagePopup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  z-index: 2000;
}

/* バトルコマンド */
.battleCommand {
  left: 3%;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  text-align: left;
  border-radius: 7px;
  color: white;
}

.battleCommand:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* 共通エフェクト */
.commonEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

/* 敵画像 */
.enemyImage {
  object-fit: contain;
  transition: opacity 0.3s;
  position: relative;
  top: 15%;
  height: 70%;
  border-radius: 10px; /* 角丸 */
  border: 5px solid white; /* 白い枠を6pxに設定 */
  /* 
  @media (max-width: 768px) {
  }
  レスポンシブ対応 
  */
}

/* クイズポップアップ */
.quizPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quizOptions {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}

.quizOptions button {
  padding: 10px;
  background-color: #444;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.quizOptions button:hover {
  background-color: #666;
}



