.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平方向に中央配置 */
  justify-content: center; /* 垂直方向に中央配置 */
  height: 100vh;
  background-image: url('/images/map.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center; /* 水平方向に中央配置 */
  align-items: center; /* 垂直方向に中央配置 */
}

.titleImage {
  max-width: 50%; /* 画像の最大幅を50%に設定 */
  height: auto; /* 高さは自動調整 */
  margin-bottom: 20px;
}

.playButton {
  font-size: 2.5rem; /* Increased from 2rem to 2.5rem */
  padding: 10px 30px; /* Increased padding for a larger button */
  background: linear-gradient(90deg, #9945FF, #14F195); /* Solana-inspired gradient */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playButton:hover {
  background-color: #5e34b1; /* Darker shade for hover effect */
}


.pcOnlyMessage {
  font-size: 1.5rem; /* Increased font size for better readability */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for contrast */
  margin-top: 20px;
  padding: 10px 20px; /* Add padding around the text */
  border-radius: 8px; /* Rounded corners for a modern look */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for more emphasis */
}

